<?xml version="1.0"?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="info@ccvonline.com">
				<network host="ccvexchange07.ccvonline.com" port="25" userName="ccvadmin" password="barr0z!"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
